.bg-primary-meli {
  background-color: #fee600;
}

.bg-body-meli {
  background-color: #ededed;
}

.bg-disabled-meli {
  background-color: #f5f5f5;
}

.carousel-image {
  width: 100%;
  height: auto;
}
